*{
    margin: 0px;
    padding: 0px;
}



#contenedor{
    width: 60%;
    margin: 5px auto;
    border: 4px rgb(0, 0, 0) solid;
    border-radius: 10px;
    text-align: center;
}

img {
    border-radius: 60%;
  }