/* Selector Universal */
/* Propiedad: valor */
*{
    margin: 0px;
    padding: 0px;
}

/* Selector body */
body{
  background-color: #1f25df66;
  color: aliceblue;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1em;      
  /* 1em = 12px */
}
#contenedor{
    width: 90%;
    margin: 5px auto;
    border: 2px #16499cbf solid;
    /* Grosor del contorno, color y estilo del contorno */
    border-radius: 10px;

}

nav{
background-color: rgba(174, 60, 174, 0.446);
text-align: center;
position: fixed;
width: 90%;
margin-bottom: 20px;

}

nav ul li{
    display: inline-block;
    padding: 10px;
}

nav ul li a{
    color: rgb(255, 255, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2em;
    text-decoration: none;
    

}

a:hover{
    color: purple;
    text-decoration: underline;
}

header{
    margin-top: 42px;
    height: 100px;
    background: rgba(48, 97, 189, 0.484) url("../Imagenes/descargar\ \(1\).jpeg");
    /* background-size: cover; sirve para cubrir el ancho */
    text-align: center;
    line-height: 120px;
}

h2, h3, h4, h5{
text-align: center;
margin:10px;
}
p{
    padding: 10 px;
    text-align: justify;
    border: 1px sienna;
    border-radius: 10px;
    margin: 0px 25px;
}

.impar{
 color: rgb(57, 197, 120);
 padding: 0px 50px;
 border-top-right-radius: 65px;
}
.par{
    color: bisque;
}

hr{
    margin: 10px 0px;
    width: 70%;
    color: silver;
}

#panel{
    width: 50%;
    margin: 10px auto;
    /* height: 300px;  */
    border: 1px silver outset;
    border-radius: 20% ;
}

.caja{
    width: 92%;
    height: 25px;
    margin: 20px auto;
    margin-left: 4%;
}
.boton{
    width: 40%;
    margin-top: 10px;
    background-color: rgba(0, 0, 255, 0.558);
    color: cadetblue;
    margin-left: 25%;
    height: 0px;
    margin-bottom: 10px;
}
.altura{
    height: 80px;
}

.mensaje{
    width: 90%;
    margin-left: 5%;
    height: 30px;
}